.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 70px;
    margin: auto;
    width: 100%;
}

.card{
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1440px){
    .grid{
        grid-template-columns: repeat(6,1fr);
    }
    .card{
        padding: 20px;
    }
}
@media(max-width: 1000px){
    .grid{
        width: 50%;
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        padding: 15px;
    }
}
@media(max-width: 500px){
    .grid{
        width: 50%;
        grid-template-columns: repeat(1,1fr);
    }
    .card{
        padding: 5px;
    }
}

.fade-in{
    animation: fadeIn 2s ease infinite alternate;
}

@keyframes fadeIn {
    from{
        opacity: 0.2;
    }
    to{
        opacity: 2;
    }
}

.slide-left{
    animation: slideLeft 2s infinite alternate;
}

@keyframes slideLeft {
    from{
        transform: translateX(40px);
    }
    to{
        transform: translateX(-40px);
    }
}

.bounce{
    animation: bounce 3s infinite alternate;
}

@keyframes bounce {
    0%,100%{
      transform: translateY(5);  
    }
    50%{
        transform: translateY(-30px);
    }
}

.rotate{
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.pulse{
    animation: pulse 3s infinite;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.glow{
    animation: glow 2s infinite alternate;
}

@keyframes glow{
    from{
        box-shadow: 0 0 5px coral;
    }
    to{
        box-shadow: 0 0 25px rgb(80, 255, 100);
    }
}

.transform{
    transition: 0.4s ease;
}

.t-translate:hover{
    transform: translateX(20px) translateY(-20px);
}

.t-scale:hover{
    transform: scale(1.2);
}

.t-rotate:hover{
    transform: rotate(20deg);
}

.t-skew:hover{
    transform: skewX(15deg);
}

.t-flip{
    perspective: 800px;
}
.t-inner-flip{
    transform: 6s;
    transform-style: preserve-3d;
}
.t-flip:hover, .t-inner-flip{
    transform: rotateY('180deg');
    background-color: aquamarine;
}