.container{
    margin: 20px;
    padding: 20px;
}

.Services-Title{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
}

hr{
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 600px;
}

.Cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.Services-Card1{
    background-color: #f2f2f2;
    width: 30%;
    height: fit-content;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.Services-Card1 img{
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}

.button-container{
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    background-color: #4CAF50;
}

button{
    background-color:rgba(255, 0, 0, 0.642);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.Services-Card2{
    background-color: #f2f2f2;
    width: 30%;
    height: fit-content;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.Services-Card2 img{
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}

.Services-Card3{
    background-color: #f2f2f2;
    width: 30%;
    height: fit-content;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.Services-Card3 img{
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}

.Services-Card4{
    background-color: #f2f2f2;
    width: 30%;
    height: fit-content;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.Services-Card4 img{
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}

.Services-Card5{
    background-color: #f2f2f2;
    width: 30%;
    height: fit-content;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.Services-Card5 img{
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}