
        /* this is a css comment */
header {
    background-color: rgb(159, 144, 255);
    color: black;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: auto;
    border-radius: 20px;
}
nav {
    background-color: rgb(110, 91, 232);
    color: black;
    padding: 8px;
    text-align: center;
    width: auto;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 20px;
}
a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    width: auto;
    border-radius: 30px;

}
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(110, 91, 232);
    border-radius: 10px;
    background-color: rgb(204, 204, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    width: auto;
}
p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    width: auto;
}
table {
    width: auto;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 40px;
}
caption{
    font-size: 18px;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(125, 109, 229);
    padding: 8px;
    width: auto;
    border-radius: 40px;
}
.table-header th {
    padding: 10px;
    background-color: rgb(204, 204, 255);
    color: black;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    border-radius: 40px;
}
tbody td {
    padding: 10px;
    background-color: rgb(204, 204, 255);
    color: black;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 40px;
}
form {
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(110, 91, 232);
    border-radius: 10px;
    background-color: rgb(204, 204, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    width: auto;
    height: fit-content;
}
.registration {
    background-color: rgb(125, 109, 229);
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center; 
    width: auto;
}
.aboutUs {
    background-color: rgb(125, 109, 229);
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center; 
    width: auto;
}
.fullName, .email, .phone, .age, .password, .countryCh, .experienceLevel, .Scourse, .STime {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    border-radius: 10px;
}
.country {
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
}
.experience-level {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}
.course {
    width: 200px;
    height: 100px;
    font-size: 16px;
    border-radius: 5px;
}
.Choose {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}
footer {
    background-color: rgb(159, 144, 255);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: auto;
    border-radius: 20px;
}
.quick-links {
    color: white;
    list-style-type:none;
    padding: 0;
}